@import '../vendors/vars.scss';
.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 115px;
    @media screen and(max-width: 1000px){
        padding-top: 80px;
        padding-bottom: 75px;
     }
    @media screen and(max-width: 600px){
        padding-top: 50px;
        padding-bottom: 25px;
     }
    &__content {
        max-width: $width-content;
        .process-main {
            display: flex;
            margin-top: 80px;
            justify-content: space-between;
            @media screen and(max-width: 1110px){
                width: 66%;
                margin-left: auto;
                margin-right: auto;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 40px;
            }
            @media screen and(max-width: 600px){
                margin-top: 20px;
             }
            &__column {
                text-align: center;
                @media screen and(max-width: 1110px){
                    margin-top: 30px;
                }
                .process-main__column-ico {
                    text-align: center;
                    background-image: url(../img/sprite/sprite1.png);
                    height: 70px;
                    width: 70px;
                    border: 2px solid $color-secondary;
                    padding: 15px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position-y: 14px;
                    margin: 0 auto;
                }
                .process-ico-1 {
                    background-position-x: -95px;
                }
                .process-ico-2 {
                    background-position-x: -213px;
                }
                .process-ico-3 {
                    background-position-x: -346px;
                }
                .process-main__column-text {
                    width: 350px;
                    @media screen and(max-width: 322px){
                        width: 100%;
                    }
                }
            }
        }
    }
}